<?php require_once VIEW_PATH."Admin/Base/header.html"?>

<div class="admin-biaogelist">

    <div class="listbiaoti am-cf">

      <ul class="am-icon-users"> 员工管理</ul>
      
      <dl class="am-icon-home" style="float: right;">当前位置： 首页 > <a href="#">员工列表</a></dl>
      
      <dl>
        <a type="button" class="am-btn am-btn-danger am-round am-btn-xs am-icon-plus" href="index.php?p=Admin&c=Member&a=insert"> 手动添加员工</a>
      </dl>

      <!--这里打开的是新页面-->
    </div>
    <form class="am-form am-g" action="index.php?p=Admin&c=Member&a=index" method="post">
          <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
            <thead>
              <tr class="am-success">
                <th class="table-id">ID</th>
                <th class="table-id">头像</th>
                <th class="table-title">用户名</th>
                <th class="table-type">员工名字</th>
                <th class="table-author am-hide-sm-only">性别</th>
                <th class="table-author am-hide-sm-only">电话</th>
                <th class="table-date am-hide-sm-only">所属部门</th>
                <th class="table-date am-hide-sm-only">最后登录时间</th>
                <th class="table-date am-hide-sm-only">最后登录IP</th>
                <th class="table-date am-hide-sm-only">身份</th>
                <th width="130px" class="table-set">操作</th>
              </tr>

            </thead>
            <tbody>
            <?php foreach($rows as $row):?>
              <tr>
                <td><?=$row['member_id']?></td>
                <td><img src="<?=$row['photo']?>" alt="头像" width="25"></td>
                <td><?=$row['username']?></td>
                <td><?=$row['realname']?></td>
                <td style="text-align: center"><?=($row['sex']==1)?'男':'女'?></td>
                <td><?=$row['telephone']?></td>
                <td>
                  <!--<?=$row['group_id']?>-->
                  <?php foreach($groups as $group):
                     if ($group['group_id'] == $row['group_id']){
                        echo $group['name'];
                     }
                  endforeach;?>
                </td>

                <td class="am-hide-sm-only"><?=$row['last_login']?></td>
                  <td class="am-hide-sm-only"><?=$row['last_loginip']?></td>
                <td class="am-hide-sm-only"><?=($row['is_admin'] ==1)?'管理员':'普通员工'?></td>
                <td>
                	<div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      <a class="am-btn am-btn-default am-btn-xs am-text-secondary am-round" data-am-modal="{target: ''}" title="修改订员工信息" href="index.php?p=Admin&c=Member&a=update&member_id=<?=$row['member_id']?>"><span class="am-icon-pencil-square-o"></span></a>
                      <a class="am-btn am-btn-default am-btn-xs am-text-danger am-round" title="删除员工信息" href="index.php?p=Admin&c=Member&a=delete&member_id=<?=$row['member_id']?>"><span class="am-icon-trash-o"></span></a>
                    </div>
                  </div>
                </td>
              </tr>
            <?php endforeach;?>
            </tbody>
          </table>
      <ul>
        <li class="soso">
          <p>
            <select data-am-selected="{btnWidth: 70, btnSize: 'sm', btnStyle: 'default'}" name="sex">
              <option value="">性别</option>
              <option value="1" <?=(isset($_REQUEST['sex']) && $_REQUEST['sex'] ==1) ? 'selected' : ''?> >男</option>
              <option value="2" <?=(isset($_REQUEST['sex']) && $_REQUEST['sex'] ==2) ? 'selected' : ''?>>女</option>
            </select>
          </p>
          <p>
            <select data-am-selected="{btnWidth: 70, btnSize: 'sm', btnStyle: 'default'}" name="is_admin">
              <option value="">身份</option>
              <option value="2" <?=(isset($_REQUEST['is_admin']) && $_REQUEST['is_admin'] ==2) ? 'selected' : ''?>>管理员</option>
              <option value="1" <?=(isset($_REQUEST['is_admin']) && $_REQUEST['is_admin'] ==1) ? 'selected' : ''?>>普通员工</option>
            </select>
          </p>
          <p class="ycfg"><input type="text" name="keyword" class="am-form-field am-input-sm" placeholder="用户名、姓名、性别、手机号等"  value="<?=$_REQUEST['keyword'] ?? ''?>"/></p>
          <p><button class="am-btn am-btn-xs am-btn-default am-xiao"><i class="am-icon-search"></i></button>
          </p>
        </li>
      </ul>
          <?=$html?>
          <hr />
        </form>
</div>

</div>




</div>

<!--[if lt IE 9]
<script src="./Public/Admin/js/polyfill/rem.min.js"></script>
<script src="./Public/Admin/js/polyfill/respond.min.js"></script>
<script src="./Public/Admin/js/amazeui.legacy.js"></script>
<![endif]--> 

<!--[if (gte IE 9)|!(IE)]><!--> 
<script src="./Public/Admin/js/amazeui.min.js"></script>
<!--<![endif]-->



</body>
</html>