<?php  require_once VIEW_PATH."Home/Base/header.html";?>

    <div class="admin-biaogelist">
      <div class="listbiaoti am-cf">
        <ul class="am-icon-flag on">
          预约美发
        </ul>
        <dl class="am-icon-home" style="float: right;">
          当前位置： 首页 > <a href="index.php?p=Home&c=Order&a=index">预约列表</a>
        </dl>
        <dl>
          <a href="index.php?p=Home&c=Order&a=add" class="am-btn am-btn-danger am-round am-btn-xs am-icon-plus" >添加预约</a>
        </dl>

      </div>
      <form class="am-form am-g">
        <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover">
          <thead>
            <tr class="am-success">
              <th>电话</th>
              <th>姓名</th>
              <th>预约美发师</th>
              <th>备注</th>
              <th>预约日期</th>
              <th>预约状态</th>
              <th>回复信息</th>
              <th width="163px">操作</th>
            </tr>
          </thead>
          <tbody>
          <?php foreach($rows as $row):?>
            <tr>
              <td class="am-text-center"><?=$row['phone']?></td>
              <td><?=$row['realname']?></td>
              <td><?=$row['barber']?></td>
              <td><?=$row['content']?></td>
              <td><?=date('Y-m-d',$row['date'])?></td>
              <td><?=(($row['status'] ==0) ? '未处理' : ($row['status']==1 ?'成功':($row['status'] == 2 ? '失败':'已取消')))?></td>
              <td><?=$row['reply']?></td>
              <td><div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <?php if($row['status']==0 ):?>
                   <a class="am-btn am-btn-default am-btn-xs am-text-danger am-round"  title="取消预约" href="index.php?p=Home&c=Order&a=delete&id=<?=$row['order_id']?>"><span class="am-icon-trash-o" ></span></a>
                    <?php endif; ?>
                  </div>
                </div></td>
            </tr>
          <?php endforeach;?>
            <!---->
          </tbody>
        </table>
</body>
</html>