<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="./Public/Admin/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="./Public/Admin/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="./Public/Admin/css/amazeui.min.css" />
    <link rel="stylesheet" href="./Public/Admin/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="./Public/Admin/css/app.css">
    <script src="./Public/Admin/js/jquery.min.js"></script>

</head>

<body data-type="login">
    <script src="./Public/Admin/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 风格切换 -->
        <div class="tpl-login" style="text-align:center">
            <div class="tpl-login-content">
                <div class="tpl-login-title" style="font-size: 30px">修改套餐</div>
                <span class="tpl-login-content-info" style="font-size: 20px">
              </span>
                <form class="am-form tpl-form-line-form" method="post" enctype="multipart/form-data" action="index.php?p=Admin&c=Group&a=edit">
                    <input type="hidden" name="id" value="<?=$row['group_id']?>">
                    <div class="am-form-group">
                        <input type="text" class="tpl-form-input" id="user-name" placeholder="部门名称" style="width: 500px;margin: auto;" name="name" value="<?=$row['name']?>">
                        <input type="hidden" name="group_id" value="<?=$row['group_id']?>">
                    </div>
                    <div class="am-form-group">
                        <button type="submit" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn" style="width: 500px;margin: auto">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="./Public/Admin/js/amazeui.min.js"></script>
    <script src="./Public/Admin/js/app.js"></script>
</body>
</html>